
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="description" content="{%block meta_description %}Free Web tutorials{%endblock%}">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>{% block title %} Jyan Technologies {% endblock %}</title>
    <!-- add icon link -->
        <link rel = "icon" href ="{%static 'web/img/favicon-32x32.png'%}" type = "image/x-icon">

    <!--bootstrap css,googlefonts,fontawesome(for icons) (version- 4.7.0)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--linking static css file to this page-->
    <link rel="stylesheet" href="{%static 'web/css/main.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>


<body>

   <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!--HEADER SECTION-->

        <nav class="navbar navbar-expand-lg shadow">
         <div class="container "><!--container class adds a 16px left and right padding to any HTML element.-->
             <a class="navbar-brand" href="/"><img class="img-fluid pb-3" src="{%static 'web/img/logo1.png'%}"  alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                      <li class="nav-item active ">
                        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
                      </li>
                     <div class="dropdown p-2">
                          <a class=" dropdown-toggle" href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SEO Services
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a  class="dropdown-item" href="/seo">Search Engine Optimization(SEO)</a>
                              <a  class="dropdown-item" href="/pay-per-click">PPC(Pay Per Click) Management</a>
                              <a  class="dropdown-item" href="/social-media-marketting">Social Media Marketing</a>
                              <a  class="dropdown-item" href="/amazon-seo">Amazon SEO</a>

                          </div>
                      </div>

                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li>
                      <li class="nav-item1">
                        <a class="nav-link " href="/destination"><i class="fa fa-phone" aria-hidden="true"></i> Contact Us at- 8828929987</a>
                      </li>





                </ul>
              </div>
          </div>

        </nav>









{% block content %}
{% endblock %}





<!--FOOTER SECTION-->
   <footer class="footer py-4 px-1">
            <div class="row">
                <div class="col-md-4">
                    <a class="footer-logo" href="#"><i class="fa fa-fire" aria-hidden="true"></i>J!Yan Technologies</a>

                    <p class="mt-2">Get paid for your hard work. Google AdSense can automatically display relevant targeted ads on your blog so that you can earn income by posting about your passion</p>

                </div>
                <div class="col-md-4">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Privacy Policies</a></li>
                        <li><a>About us</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>Newsletter</a></li>
                        <li><a>Terms of Service</a></li>

                    </ul>

                </div>
                <div class="col-md-4">
                    <div class="grid__item desk--one-quarter lap--one-half social">
                        <div class="follow-us">
                            <h3>Follow Us On</h3>
                                <ul>
                                    <li><a class="instagram" href="https://www.instagram.com/coalitiontech/" target="_blank">instagram</a></li>
                                    <li><a class="facebook" href="https://www.facebook.com/CoalitionTech" target="_blank">facebook</a></li>
                                    <li><a class="twitter" href="https://twitter.com/coalitiontech" target="_blank">twitter</a></li>
                                    <li><a class="youtube" href="https://www.youtube.com/channel/UCHz_8i8QzJO7EcPSDSfeXQg" target="_blank">youtube</a></li>
                                    <li><a class="linkedin" href="http://www.linkedin.com/company/coalition-technologies" target="_blank">linkedin</a></li>
                                    <li><a class="rss" href="https://coalitiontechnologies.com/blog/feed/" target="_blank">rss</a></li>
                                </ul>
                        </div>
                        <a href="mailto:sales@coalitiontechnologies.com" class="emailus">Email us</a>
			            </div>



                </div>

            </div>

            <div class="w-100 text-center credits">
                <p>Made by:J!yan Technologies &copy;2020. All rights reserved.</p>
            </div>


    </footer>



</body>

</html>
